.post{
    background-color: white;
    width: 100%;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 40px;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
.post__text{
    font-weight: normal;
}
.post__header{
    display:flex;
    align-items: center;
    padding: 1rem;
}
.post__header h3{
    font-size: .9rem;
}
.post__avatar{
    margin-right: 1rem;
}