.app{
	background: #fafafa;
	height: 100vh;
}
.app__header{

	padding: 20px;
	background: white;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
	
}
.app__headerImage{
	max-width: 8em;
	object-fit: contain;
}
.app__signup{
	align-items: center;
	display: flex;
	flex-direction: column;
}